<!--<html>-->
<!--   <body>-->
<!--   <h1> Login to {{name}} Company</h1>-->
<!--      <form action = "http://localhost:5000/login" method = "post">-->
<!--         <p>Enter Name:</p>-->
<!--         <p><input type = "text" name = "nm" /></p>-->
<!--         <p><input type = "submit" value = "submit" /></p>-->
<!--      </form>-->
<!--   </body>-->
<!--</html>-->

<!doctype html>
<html>
   <body>
      <h1>Login</h1>

      {% if error %}
         <p><strong>Error:</strong> {{ error }}
      {% endif %}

      <form action = "" method = post>
         <dl>
            <dt>Username:</dt>
            <dd>
               <input type = text name = username
                  value = "{{request.form.username }}">
            </dd>
            <dt>Password:</dt>
            <dd><input type = password name = password></dd>
         </dl>
         <p><input type = submit value = Login></p>
      </form>
   </body>
</html>